/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  main {
    text-align: center;
    padding: 20px;
  }
  
  p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  a button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #44b338;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for the button */
    transition: background-color 0.3s ease;
  }
  
  a button:hover {
    background-color: #0056b3;
  }
  
  /* Media query for smaller devices */
  @media (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    .logo img {
      max-width: 200px;
    }
  
    p {
      font-size: 20px;
    }
  }
  